.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  @media (min-width: 500px) {
    width: 500px;
  }

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.button-add {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-add:hover {
  background-color: #0062cc;
}

.todos-List {
  list-style: none;
  padding: 0;
}

.todo-element {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos-List li span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.todos-List li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.todos-List li button:hover {
  background-color: #c82333;
}

.delete {
  width: 22px;
}